@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
$font-family-sans-serif: "News Cycle", "Helvetica Neue", sans-serif;
$font-family-decorative: "News Cycle";
$font-family-basic: "Helvetica Neue", sans-serif;
$font-size-base: 16px !default;
$body-bg: white;
$saegey-gray: darken($body-bg, 50%);
$brand-primary: $saegey-gray;
$navbar-default-bg: white;
$navbar-height: 65px;
$navbar-default-link-hover-bg: lighten($body-bg, 5%);
$navbar-default-toggle-hover-bg: darken($navbar-default-bg, 5%);
$blockquote-border-color: darken($body-bg, 15%);
$page-header-border-color: darken($body-bg, 15%);
$dropdown-bg: lighten($body-bg, 5%);
$dropdown-border: 0;
$dropdown-link-hover-bg: lighten($body-bg, 15%);
$panel-default-heading-bg: darken($body-bg, 15%);
$panel-border-radius: 0;
$list-group-bg: lighten($body-bg, 15%);
$jumbotron-bg: white;
$jumbotron-color: $brand-primary;
$link-color: gray;
$border-radius-base: 0;
$thumbnail-border: #fff !default;
$list-group-border: #fff !default;
$thumbnail-caption-padding: 0;
$navbar-default-link-hover-bg:             black;
$nav-pills-active-link-hover-bg:  white;
// $nav-link-padding: 0 10px;

@import "../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

h1, h2, h3, h4, .navbar, .list-group, th, .btn-more {
    text-transform: uppercase;
}

body {
    -webkit-font-smoothing: antialiased;
}

.list-group-item {
    padding-left: 0px;
}

.navbar-top {
    border-bottom: 1px solid lighten($saegey-gray, 40%);
}

.navbar-nav {
    margin-left: -15px;
}
.navbar {
    margin-bottom: 0px !important;
}
.nav-sub {
    border-bottom: 1px solid lighten($saegey-gray, 40%);
    margin-bottom: 15px;
    .active {
        background-color: white !important;
    }
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: black;
    font-weight: 700;
    /* background-color: #808080; */ }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
color: #555;
background-color: white;
    font-weight: 700;
}
.navbar-default .navbar-nav > .active > a:focus {
    background-color: white;
}
.navbar {
    letter-spacing: 1px;
  .navbar-brand {
    font-family: $font-family-decorative;
    color: #F00000;
    font-weight: 700;
    font-size: 140%;
  }
  .active {
    a {
        font-weight: 700;
    }
  }
  a {
    color: $brand-primary;
  }
  .nav {
    .open {
      >a {
        background-color: darken($navbar-default-bg, 5%);
      }
    }
    a {
      &:hover {
        background-color: white !important;
        color: #F00000;
      }
    }
  }
  background: $navbar-default-bg;
  border: 0;
}
.profile-links {
    font-size: 80%;
    .nav > li > a { 
        padding-left: 8px;
        padding-right: 8px;
    }
}

.dropdown-menu {
  @include border-top-radius(0);
  @include border-bottom-radius(0);
  border:none !important;
  box-shadow:none !important;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
}
.btn-default {
  // @include border-top-radius(0);
  // @include border-bottom-radius(0);
  border:none !important;
  box-shadow:none !important;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  background-color: darken($body-bg, 10%);
  color: darken($body-bg, 60%);
  font-weight: 500;
}

.btn-more {
    margin-bottom: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-color: darken($body-bg, 15%) !important;
}

#activity {
  h3 {
    font-size: floor(($font-size-h3 * .95)) !important;
    font-weight: 300;
    color: $navbar-default-bg;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav-pills {
    margin-bottom: 20px;
  }
}

#resume {
  blockquote {
    background: lighten($body-bg, 15%);
    margin-bottom: 0;
  }
  #adam-saegebarth, #adam-saegebarth-gmail-com, #seattle-wa {
    display: none;
  }
  ul {
    list-style: square;
    padding-left: 20px;
    margin-bottom: 0;
  }
  .list-unstyled {
    padding-left: 0;
  }
  li {
    margin-bottom: 5px;
  }
  h1 {
    margin-top: 0;
  }
  h2 {
    border-bottom: 1px solid $navbar-default-bg;
    padding-bottom: 5px;
    font-size: floor(($font-size-h3 * .95)) !important;
  }
  h1, h2, h3 {
    font-weight: 300;
  }
  h3 { font-size: floor(($font-size-h3 * .85)) !important; }
  hr { border: 1px solid darken($body-bg, 15%); }
  #adamsaegeycom { margin-top: 0;}
}

#home {
  .jumbotron {
    text-align: center;
    h1 {
      font-family: $font-family-decorative;
      font-size: floor(($font-size-h1 * 2.5)) !important;
    }
    .lead {
      margin-top: 30px;
      margin-bottom: 30px;
      color: darken($body-bg, 20%);
    }
    .profile-links {
      a {
        color: darken($body-bg, 20%);
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
  /* Customize container */
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .menu-nav {
    text-align: center;
    font-weight: 600;
    font-size: $font-size-large;
  }
}

#about {
  .portrait {
    text-align: center;
    padding-bottom: 20px;
  }
  .img-circle {
    width: 300px;
  }
  .bio {
    p {
      font-size: 120%;
    }
  }
}

#open-source {
  .repo-name {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .repo-details {
    font-size: 150%;
    color: $panel-default-heading-bg;
  }
  .repo-language, .repo-last-push { font-size: 90%; }
  .repo-description, .repo-language, .repo-last-push {
    margin-bottom: 5px;
  }
  .nav-pills {
    margin-bottom: 20px;
  }
}

#bikes {
  h1 {
    font-family: $font-family-decorative;
  }
  .list-inline {
    margin-bottom: 0;
    li {
      margin-right: 10px;
      font-size: 85%;
    }
  }
  .photos {
    margin-top: 25px;
  }
  p {
    margin-bottom: 0px;
  }
  .thumbnail {
    margin-bottom: 0;
  }
  table {
    td {
        &:first-child {
            padding-left: 0px;
        }
        &:last-child {
            padding-right: 0px;
        }
        .sub-category {
            margin-left: 10px;
            color: lighten($saegey-gray, 15%);
        }
    }
  }
}

