$font-family-sans-serif: "Open Sans", "Helvetica Neue", sans-serif;
$font-family-decorative: "Damion";
$font-size-base: 16px !default;
$body-bg: #F3F3F3;
$brand-primary: #BBD6E7;
$navbar-default-bg: #232B42;
$navbar-height: 65px;
$navbar-default-link-hover-bg: lighten($body-bg, 5%);
$navbar-default-toggle-hover-bg: darken($navbar-default-bg, 5%);
$blockquote-border-color: darken($body-bg, 15%);
$page-header-border-color: darken($body-bg, 15%);
$dropdown-bg: lighten($body-bg, 5%);
$dropdown-border: 0;
$dropdown-link-hover-bg: lighten($body-bg, 15%);
$panel-default-heading-bg: darken($body-bg, 15%);
$panel-border-radius: 0;
$list-group-bg: lighten($body-bg, 15%);
$jumbotron-bg: #232B42;
$jumbotron-color: $brand-primary;
$link-color: $navbar-default-bg;

@import "../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

body {
    padding-top: 80px;
}

.navbar {
  .navbar-brand {
    font-family: $font-family-decorative;
    font-size: 35px;
  }
  a {
    color: $brand-primary !important;
  }
  .nav {
    .open {
      >a {
        background-color: darken($navbar-default-bg, 5%);
      }
      .fa {
        color: $body-bg;
      }
    }
    .fa {
      color: $body-bg;
    }
    a {
      &:hover {
        background-color: darken($navbar-default-bg, 5%) !important;
      }
    }
  }
  background: $navbar-default-bg;
  border: 0;
}

.panel {
  border: 0;
  h3 {
    margin: 0;
    color: darken($body-bg, 60%);
  }
  .panel-heading {
    border: 0;
    .fa {
      color: darken($body-bg, 60%);
    }
  }
  .dropdown-menu {
    margin-left: -15px;
    margin-top: 10px;
  }
}

.dropdown-menu {
  @include border-top-radius(0);
  @include border-bottom-radius(0);
  border:none !important;
  box-shadow:none !important;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
}
.btn-default {
  // @include border-top-radius(0);
  // @include border-bottom-radius(0);
  border:none !important;
  box-shadow:none !important;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  background-color: darken($body-bg, 10%);
  color: darken($body-bg, 60%);
  font-weight: 500;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-color: darken($body-bg, 15%) !important;
}

#activity {
  h3 {
    font-size: floor(($font-size-h3 * .95)) !important;
    font-weight: 300;
    color: $navbar-default-bg;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav-pills {
    margin-bottom: 20px;
  }
}

#resume {
  blockquote {
    background: lighten($body-bg, 15%);
    margin-bottom: 0;
  }
  ul {
    list-style: square;
    padding-left: 20px;
    margin-bottom: 0;
  }
  .list-unstyled {
    padding-left: 0;
  }
  li {
    margin-bottom: 5px;
  }
  h1 {
    margin-top: 0;
  }
  h2 {
    border-bottom: 2px solid $navbar-default-bg;
    padding-bottom: 5px;
    font-size: floor(($font-size-h3 * .95)) !important;
  }
  h1, h2, h3 {
    font-weight: 300;
    color: $navbar-default-bg;
  }
  h3 { font-size: floor(($font-size-h3 * .85)) !important; }
  hr { border: 1px solid darken($body-bg, 15%); }
  #adamsaegeycom { margin-top: 0;}
}

#home {
  .jumbotron {
    text-align: center;
    h1 {
      font-family: $font-family-decorative;
      font-size: floor(($font-size-h1 * 2.5)) !important;
    }
    .lead {
      margin-top: 30px;
      margin-bottom: 30px;
      color: darken($body-bg, 20%);
    }
    .profile-links {
      a {
        color: darken($body-bg, 20%);
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
  /* Customize container */
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .menu-nav {
    text-align: center;
    font-weight: 600;
    font-size: $font-size-large;
  }
}

#about {
  .portrait {
    text-align: center;
    padding-bottom: 20px;
  }
  .img-circle {
    width: 300px;
  }
  .bio {
    p {
      font-size: 120%;
    }
  }
}

#open-source {
  .repo-name {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .repo-details {
    font-size: 150%;
    color: $panel-default-heading-bg;
  }
  .repo-language, .repo-last-push { font-size: 90%; }
  .repo-description, .repo-language, .repo-last-push {
    margin-bottom: 5px;
  }
  .nav-pills {
    margin-bottom: 20px;
  }
}

#bikes {
  h1 {
    font-family: $font-family-decorative;
  }
  .list-inline {
    margin-bottom: 0;
    li {
      margin-right: 10px;
      font-size: 85%;
    }
  }
  .photos {
    margin-top: 25px;
  }
}

#instagram {
  .photos {
    .thumbnail {
      background: white;
    }
    margin-top: 25px;
    .caption {
      p {
        font-size: 80%;
      }
    }
  }
}
