<div id="about" class="col-md-6 col-md-offset-3">
    <div class="portrait">
      <img src="http://saegey-photos.s3.amazonaws.com/selfie.jpg" class="img-circle">
    </div>

    <div class="bio">
      <p>My name is <strong>Adam Saegebarth</strong>, I’m 31 years old and I currently live in Seattle, Washington. </p>

      <p>I’m a self-taught full-stack developer. I have experience in both designing and building web applications using the latest technologies and standards.</p>

      <p>I have experience building applications from start to finish, both on my own and in collaboration with a team.</p>

      <p>If you’re interested in getting in touch, feel free to <a class="important" href="mailto:me@adamsaegebarth.com">contact me.</a></p>
    </div>
</div>