<div class="navbar navbar-default" role="navigation" ng-controller="HeaderController">
    <div class="container">
      <div class="navbar-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
      </div>
        <div class="navbar-collapse collapse navbar-top">
            <ul class="nav navbar-nav">
                <li ng-class="{active: $route.current.active == 'about'}"><a href="/#/about">About</a></li>
                <li ng-class="{active: $route.current.active == 'bikes'}"><a href="/#/bikes">Bikes</a></li>
                <li ng-class="{active: $route.current.active == 'photos'}"><a href="/#/photos">Photos</a></li>
                <li ng-class="{active: $route.current.active == 'code'}"><a href="/#/code">Code</a></li>
            </ul>
        </div>
    </div>
</div>