<div id="home">
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Saegey</h1>
      <p class="lead">I write software and ride a bicycle.</p>
      <ul class="list-inline profile-links">
        <li><a href="http://instagram.com/saegey"><i class="fa fa-instagram fa-2x"></i></a></li>
        <li><a href="http://github.com/saegey"><i class="fa fa-github-square fa-2x"></i></a></li>
        <li><a href="http://linkedin.com/in/saegey/"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
        <li><a href="http://twitter.com/saegey"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="https://www.facebook.com/saegey"><i class="fa fa-facebook-square fa-2x"></i></a>
      </li></ul>
    </div>
  </div>
  <div class="container">
    <div class="row menu-nav">
      <div class="col-lg-12">
        <ul class="list-group">
          <li class="list-group-item"><a href="/#/about">About</a></li>
          <li class="list-group-item"><a href="/#/resume">Résumé</a></li>
          <li class="list-group-item"><a href="/#/activity">Activity</a></li>
          <li class="list-group-item"><a href="/#/bikes/crosscheck">Bicycles</a></li>
          <li class="list-group-item"><a href="/#/photos/photos">Photos</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>