<div id="home">
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Saegey</h1>
      <p class="lead">I write software and ride a bicycle.</p>
    </div>
  </div>
  <div class="container">
    <div class="row menu-nav">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item"><a href="/#/about">About</a></li>
          <li class="list-group-item"><a href="/#/resume">Résumé</a></li>
          <li class="list-group-item"><a href="/#/activity">Activity</a></li>
          <li class="list-group-item"><a href="/#/bikes/crosscheck">Bicycles</a></li>
          <li class="list-group-item"><a href="/#/photos/photos">Photos</a></li>
          <li class="list-group-item"><a href="/#/code">Code</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>