<div id="activity" class="row">
    <div class="col-md-6">
            <table class="table" ng-show="data.rides">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Distance</th>
                        <th>Strava</th>
                    </tr>
                </thead>
                <tbody>

                <tr ng-repeat="ride in data.rides">
                    <td>
                        <input type="checkbox" checklist-model="data.selected" checklist-value="data.rides.indexOf(ride)">
                    </td>
                    <td>
                        {{ ride.startDate | amDateFormat:'M.DD.YY' }}
                    </td>
                    <td>{{ ride.duration | movesToMin }} min</td>
                    <td>{{ ride.distance | metersToMiles }} miles</td>
                    <td>{{ ride.stravaId }}</td>
                </tr>
                </tbody>
            </table>
    </div>
        <div class="col-md-6">
        <btn class="btn btn-primary" disabled="{{uploadIsDisabled}}" ng-click="upload()">Upload To Strava</btn>
        <google-map center="map.center" zoom="map.zoom">
            <polyline ng-repeat="p in map.polylines" path="p.path" stroke="p.stroke" visible='p.visible'
            geodesic='p.geodesic' fit="true" editable="p.editable" draggable="true" icons='p.icons' refresh="showRides(data.rides.indexOf(ride))"></polyline>
        </google-map>
    </div>
</div>
