<li class="list-group-item" ng-repeat="day in data.days">
    <h4>{{day.date | amDateFormat:'dddd, MMMM Do YYYY'}}</h4>
    <div class="daily-place" ng-repeat="activity in day.summary">
        <p>
        	{{ upcase(activity.activity) }} – {{ convertToMiles(activity.distance) }}  / {{ convertToMinutes(activity.duration) }} min
        </p>
    </div>
</li>

<!-- data: [
{
_id: "53af7fc41872331900da8832",
date: "2014-06-28T00:00:00.000Z",
lastUpdate: "2014-06-29T06:04:39.000Z",
__v: 0,
summary: [
{
activity: "walking",
group: "walking",
duration: 413,
distance: 388,
calories: 23,
_id: "53afad0a18cbcd1800907f4d"
},
{
activity: "transport",
group: "transport",
duration: 810,
distance: 6554,
_id: "53afad0a18cbcd1800907f4c"
}
]
}, -->