<div class="row">
  <div class="col-md-12">
    <div class="nav-sub">
      <ul class="nav nav-pills">
      <li ng-class="{active: activeTab === 'photos'}">
        <a href="/#/photos" class="text-uppercase">#MINE</a>
      </li>
      <li ng-class="{active: activeTab === 'liked'}">
        <a href="/#/photos/liked" class="text-uppercase">#LIKED</a>
      </li>
    </ul>
    </div>
  </div>
</div>

<div class="col-md-6 col-md-offset-3 photos">
    <div class="thumbnail" ng-repeat="photo in data.photos">
        <a href="{{ photo.link }}" target="_blank">
            <img src="{{ photo.images.standard_resolution.url }}">
        </a>
        <div class="caption">
        <p class="photo-text">{{ photo.caption.text }}</p>
        <p ng-if="photo.location.name">
            <a href="http://maps.google.com/maps?&amp;z=17&amp;q={{ photo.location.latitude }}+{{ photo.location.longitude }}">
                {{ photo.location.name }}
            </a>
        </p>
    </div>
</div>
<div class="">
    <btn class="btn btn-primary btn-more center-block" ng-click="data.loadMore()">More</btn>
</div>

