<div class="row">
  <div class="col-md-12">
    <div class="nav-sub">
      <ul class="nav nav-pills">
      <li ng-class="{active: activeTab === 'user'}">
        <a href="/#/photos" class="text-uppercase">I took</a>
      </li>
      <li ng-class="{active: activeTab === 'liked'}">
        <a href="/#/photos/liked" class="text-uppercase">I like</a>
      </li>
    </ul>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-3" ng-repeat="photo in data.photos">
      <div class="thumbnail">
          <a href="{{ photo.link }}" target="_blank">
              <img ng-src="{{ photo.images.standard_resolution.url }}">
          </a>
      </div>
    </div>
</div>
<div ng-show="data.photos" class="row text-center">
  <btn class="btn btn-primary btn-more" ng-click="data.loadMore()">More</btn>
</div>

