<ng-include src="'../assets/partials/bikes/_nav.html'"></ng-include>

<div id="bikes" class="row">
  <div class="col-md-3">
    <a href="{{ photo.link }}" class="thumbnail" ng-repeat="photo in data.photos" target="_blank">
      <img ng-src="{{ photo.images.standard_resolution.url }}" alt="..."/>
    </a>
  </div>
  <div class="col-md-9" ng-show="data.components">
      <!-- Single button -->
    <div class="btn-group pull-right" ng-show="showParts">
      <button type="button" class="btn btn-default dropdown-toggle text-uppercase" data-toggle="dropdown" aria-expanded="false">
        Group By <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-class="{active: data.groupBy === 'component_type'}"><a ng-click="groupBy('component_type')">Component</a></li>
        <li ng-class="{active: data.groupBy === 'manufacturer'}"><a ng-click="groupBy('manufacturer')">Manufacturer</a></li>
        <li ng-class="{active: data.groupBy === 'source'}"><a ng-click="groupBy('source')">Source</a></li>
      </ul>
    </div>
  <h3>{{data.bike_name}}</h3>
     <ul class="nav nav-pills sections">
      <li ng-class="{active: showParts == true}">
        <a ng-click="showPartsTable()" class="text-uppercase">Parts</a>
      </li>
      <li ng-class="{active: showRides == true}">
        <a ng-click="showRidesTable()" class="text-uppercase">Rides</a>
      </li>
    </ul>
  <ul class="list-inline">
    <li>{{data.total_price | formatCurrency }}</li>
    <li>{{data.weight | gramsToPounds }} </li>
  </ul>
  <div ng-show="showParts" ng-repeat="categoryParts in data.components">
    <table class="table">
        <tr>
          <th>{{ categoryParts.group }}</th>
          <th>{{categoryParts.weight}}</th>
          <th><span class="pull-right">{{categoryParts.cost}}</span></th>
        </tr>
        <tr ng-repeat="part in categoryParts.parts">
          <td width="80%">
            <p>{{part.manufacturer}} {{part.model}}<p>
          </td>
          <td width="10%">{{part.weight}}</td>
          <td width="10%" class="text-right">
            <span class="quantity" ng-show="part.quantity > 1">{{part.quantity}} x </span>
            {{part.cost}}
          </td>
        </tr>
    </table>
  </div>
  <div ng-show="showRides">
    <table class="table" ng-show="data.rides">
        <thead>
            <tr>
                <th>Date</th>
                <th class="text-center">Distance <small>mi</small></th>
                <th class="text-center">Elevation <small>ft</small></th>
                <th class="text-center">Avg Speed <small>mph</small></th>
                <th class="text-right">Time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ride in data.rides">
                <td>
                  <a href="http://www.strava.com/activities/{{ ride.id }}" target="_blank">
                    {{ ride.start_date | amDateFormat:'M.DD.YY' }}
                  </a>
                </td>
                <td class="text-center">{{ ride.distance | metersToMiles }}</td>
                <td class="text-center">{{ ride.total_elevation_gain | metersToFeet }}</td>
                <td class="text-center">{{ ride.average_speed | metersPerSecToMilesPerHr }}</td>
                <td class="text-right">{{ ride.moving_time | secToMin }}</td>
            </tr>
        </tbody>
    </table>
    <div ng-show="data" class="row text-center">
      <btn ng-click="loadMoreRides()" ng-show="hasMore" class="btn btn-more">More</btn>
    </div>
  </div>
  </div>
  </div>
</div>
