<div class="row">
<div class="col-md-12">
<div class="nav-sub">
  <ul class="nav nav-pills">
  <li ng-class="{active: activeTab == 'crosscheck'}">
    <a href="/#/bikes/crosscheck" class="text-uppercase">#Crosscheck</a>
  </li>
  <li ng-class="{active: activeTab == 'juice29er'}">
    <a href="/#/bikes/juice29er" class="text-uppercase">#Juice29er</a>
  </li>
</ul>
</div>
</div>
</div>

<div id="bikes" class="row">
  <div class="col-md-3">
    <a href="#" class="thumbnail" ng-repeat="photo in data.photos">
      <img src="{{ photo.images.standard_resolution.url }}" alt="...">
    </a>
  </div>
  <div class="col-md-9">
  <h3>{{data.summary.name}}<span class="pull-right">{{data.summary.total_cost}}</span></h3>
  <p>{{data.summary.total_weight}} grams</h1>
  <div ng-repeat="categoryParts in data.parts">
    <h3>{{ categoryParts[0].partcategory }}</h3>
    <table class="table">
    <tbody>
      <tr ng-repeat="part in categoryParts">
        <td width="80%">
          <p><strong>{{part.company}}</strong> {{part.item}} <small class="text-uppercase sub-category">{{part.partsubcategory}}</small><p>
        </td>
        <td width="10%">{{part.weight}}</td>
        <td width="10%" class="text-right">{{part.cost}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>